.inputfile {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .inputfile:focus {
    border-color: #7b2cbf;
    box-shadow: 0 0 0 0.2rem rgba(123, 44, 191, 0.25);
  }
  .form-container {
    /* width: 100vw;
      height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
  }
  
  /* plus */
  
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
  }
  .btnwhie {
    background-color: #7b2cbf;
    border-color: #7b2cbf;
    color: #ffffff !important;
  }
  